:root {
    /*INTERFACE*/
    --black: #000;
    --white: #fff;
    --lightgray: #a8a8a8;
    --darkgray: #808080;
    --blue: #0000a8;
    --cyan: #00a8a8;
    --green: #01a900;
    --red: #9c1112;

    /*MAPS*/
    --sea: #095090;
    --coast: #0a589f;
    --sand: #ff9800;
    --grass: #68a940;
    --forest: #68a940;
    --mountain: #68a940;
    --bridge: #0a589f;
    --highway: #999;
    --dirtroad: #759540;
    --city: #9c27b0;

    /*CITY*/
    --alpine: #e1e1e1;
    --desert: #c67702;
    --coastal: #074f77;
    --grasland: #518432;
}