$black: var(--black);
$white: var(--white);
$gray: var(--lightgray);
$darkgray: var(--darkgray);
$blue: var(--blue);
$cyan: var(--cyan);
$green: var(--green);
$red: var(--red);

$sea: var(--sea);
$coast: var(--coast);
$sand: var(--sand);
$grass: var(--grass);
$forest: var(--forest);
$mountain: var(--mountain);
$bridge: var(--bridge);
$highway: var(--highway);
$dirtroad: var(--dirtroad);
$city: var(--city);

$alpine: var(--alpine);
$desert: var(--desert); 
$coastal: var(--coastal);
$grasland: var(--grasland);