doctype html
html(lang='en')
    head
        //HEAD STUFF
        include base/head.pug
    body#body
        //BODY
        include page/menu.pug
        pages-wrapper
            include page/map.pug
            include page/details.pug
            include page/business.pug
            include page/help.pug
        // SCRIPTS
        include base/scripts.pug