<business-page id="business">
    <center-wrapper>
        <half-wrapper>
            <modal-float>
                <modal-title>Hideout</modal-title>
                <modal-body>
                    <p>Stuff stored in hideout</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Loanshark</modal-title>
                <modal-body>
                    <p>Pay off debt</p>
                    <hr>
                    <p>Try to extend the loan</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Bank</modal-title>
                <modal-body>
                    <p>Talk to manager</p>
                    <hr>
                    <p>Rob the place</p>
                </modal-body>
            </modal-float>
        </half-wrapper>
        <half-wrapper>
            <modal-float>
                <modal-title>Spy</modal-title>
                <modal-body>
                    <p>Get report</p>
                    <hr>
                    <p>Previous reports</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Tipoff</modal-title>
                <modal-body></modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Sack bitch</modal-title>
                <modal-body></modal-body>
            </modal-float>
        </half-wrapper>
    </center-wrapper>
</business-page>