<business-page id="business">
    <center-wrapper>
        <half-wrapper>
            <modal-float>
                <modal-title>Hideout</modal-title>
                <modal-body>
                    <p>Stuff stored in hideout</p>
                    <hr>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Loanshark</modal-title>
                <modal-body>
                    <p>Pay off debt</p>
                    <hr>
                    <p>Try to extend the loan</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Bank</modal-title>
                <modal-body>
                    <p>Talk to manager</p>
                    <hr>
                    <p>Rob the place</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Dan's house of Guns</modal-title>
                <modal-body>
                    <p>Buy gun</p>
                    <hr>
                    <p>Ditch gun</p>
                </modal-body>
            </modal-float>
        </half-wrapper>
        <half-wrapper>
            <modal-float>
                <modal-title>Spy</modal-title>
                <modal-body>
                    <p>Get report</p>
                    <hr>
                    <p>Previous reports</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Tipoff</modal-title>
                <modal-body>
                    <p>Pay off for info</p>
                    <hr>
                    <p>Beat up a rat!</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Bitches</modal-title>
                <modal-body>
                    <p>Hire bitch</p>
                    <hr>
                    <p>Sack bitch</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Pub</modal-title>
                <modal-body>
                    <p>Hire bitch</p>
                    <hr>
                    <p>Sack bitch</p>
                </modal-body>
            </modal-float>
        </half-wrapper>
    </center-wrapper>
</business-page>