<business-page id="business">
    <center-wrapper>
        <half-wrapper>
            <modal-float>
                <modal-title>Hideout</modal-title>
                <modal-body>
                    <button>Stuff stored in hideout</button>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Loanshark</modal-title>
                <modal-body>
                    <button>Pay off debt</button>
                    <hr>
                    <button>Try to extend the loan</button>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Bank</modal-title>
                <modal-body>
                    <button>Talk to manager</button>
                    <hr>
                    <button>Rob the place</button>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Dan's house of Guns</modal-title>
                <modal-body>
                    <button>Buy gun</button>
                    <hr>
                    <button>Ditch gun</button>
                </modal-body>
            </modal-float>
        </half-wrapper>
        <half-wrapper>
            <modal-float>
                <modal-title>Spy</modal-title>
                <modal-body>
                    <button>Get report</button>
                    <hr>
                    <button>Previous reports</button>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Tipoff</modal-title>
                <modal-body>
                    <button>Pay off for info</button>
                    <hr>
                    <button>Beat up a rat!</button>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Bitches</modal-title>
                <modal-body>
                    <button>Hire bitch</button>
                    <hr>
                    <button>Sack bitch</button>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Pub</modal-title>
                <modal-body>
                    <button>Hire bitch</button>
                    <hr>
                    <button>Sack bitch</button>
                </modal-body>
            </modal-float>
        </half-wrapper>
    </center-wrapper>
</business-page>