<details-page id="details">
    <center-wrapper>
        <half-wrapper>
            <modal-float class="movement-type">
                <modal-title>Position</modal-title>
                <modal-body></modal-body>
            </modal-float>
            <modal-float class="map-details">
                <modal-title>Field</modal-title>
                <modal-body></modal-body>
            </modal-float>
            include ../debug/debug-modal.pug
        </half-wrapper>
        <half-wrapper>
            <modal-float class="drug">
                <modal-title>Dope</modal-title>
                <modal-body>
                    <drug-stat class="acid">
                        <d-label>Acid</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="cocaine">
                        <d-label>Cocaine</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="hashish">
                        <d-label>Hashish</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="heroin">
                        <d-label>Heroin</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="mda">
                        <d-label>MDA</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="opium">
                        <d-label>Opium</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="pcp">
                        <d-label>PCP</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="peyote">
                        <d-label>Peyote</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="shrooms">
                        <d-label>Shrooms</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="speed">
                        <d-label>Speed</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="viagra">
                        <d-label>Viagra</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                    <drug-stat class="weed">
                        <d-label>Weed</d-label>
                        <d-price><label>0</label><i>$</i></d-price>
                        <d-graph></d-graph>
                    </drug-stat>
                </modal-body>
            </modal-float>
        </half-wrapper>
    </center-wrapper>
</details-page>