<details-page id="details">
    <center-wrapper>
        <half-wrapper>
            <modal-float class="movement-type">
                <modal-title>Position</modal-title>
                <modal-body></modal-body>
            </modal-float>
            <modal-float class="map-details">
                <modal-title>Field</modal-title>
                <modal-body></modal-body>
            </modal-float>            

        </half-wrapper>

        <half-wrapper>


        </half-wrapper>

    </center-wrapper>
</details-page>