<help-page id="help">
    <center-wrapper>
        <half-wrapper>
            <modal-float class="map-help">
                <modal-title>Map help</modal-title>
                <modal-body>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, felis sit amet convallis efficitur, felis erat vehicula tellus, sit amet finibus diam dui id sapien. Praesent mollis interdum sem ac vehicula. Sed cursus posuere ornare.</p>
                    <p>Praesent in vehicula justo. Etiam bibendum porta magna, sed feugiat orci mollis nec. Proin et congue turpis. Praesent tortor nisi, porta eget aliquet eget, eleifend hendrerit nulla. Maecenas efficitur arcu ac scelerisque semper.</p>
                </modal-body>
            </modal-float>
            <modal-float class="details-help">
                <modal-title>Details help</modal-title>
                <modal-body>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, felis sit amet convallis efficitur, felis erat vehicula tellus, sit amet finibus diam dui id sapien. Praesent mollis interdum sem ac vehicula. Sed cursus posuere ornare.</p>
                    <p>Praesent in vehicula justo. Etiam bibendum porta magna, sed feugiat orci mollis nec. Proin et congue turpis. Praesent tortor nisi, porta eget aliquet eget, eleifend hendrerit nulla. Maecenas efficitur arcu ac scelerisque semper.</p>
                </modal-body>
            </modal-float>
            <modal-float class="business-help">
                <modal-title>Business help</modal-title>
                <modal-body>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, felis sit amet convallis efficitur, felis erat vehicula tellus, sit amet finibus diam dui id sapien. Praesent mollis interdum sem ac vehicula. Sed cursus posuere ornare.</p>
                    <p>Praesent in vehicula justo. Etiam bibendum porta magna, sed feugiat orci mollis nec. Proin et congue turpis. Praesent tortor nisi, porta eget aliquet eget, eleifend hendrerit nulla. Maecenas efficitur arcu ac scelerisque semper.</p>
                </modal-body>
            </modal-float>
        </half-wrapper>
        <half-wrapper>
            <modal-float class="save-files">
                <modal-title>Save files</modal-title>
                <modal-body class="vertical">
                    <button>Load save files</button>
                    <hr>
                    <savefile-list></savefile-list>
                </modal-body>
            </modal-float>
        </half-wrapper>
    </center-wrapper>
</help-page>