<help-page id="help">
    <center-wrapper>
        <full-wrapper>
            <modal-float>
                <modal-title>Help</modal-title>
                <modal-body>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, felis sit amet convallis efficitur, felis erat vehicula tellus, sit amet finibus diam dui id sapien. Praesent mollis interdum sem ac vehicula. Sed cursus posuere ornare.</p>
                    <p>Praesent in vehicula justo. Etiam bibendum porta magna, sed feugiat orci mollis nec. Proin et congue turpis. Praesent tortor nisi, porta eget aliquet eget, eleifend hendrerit nulla. Maecenas efficitur arcu ac scelerisque semper.</p>
                </modal-body>
            </modal-float>
            <modal-float>
                <modal-title>Info</modal-title>
                <modal-body>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, felis sit amet convallis efficitur, felis erat vehicula tellus, sit amet finibus diam dui id sapien. Praesent mollis interdum sem ac vehicula. Sed cursus posuere ornare.</p>
                    <p>Praesent in vehicula justo. Etiam bibendum porta magna, sed feugiat orci mollis nec. Proin et congue turpis. Praesent tortor nisi, porta eget aliquet eget, eleifend hendrerit nulla. Maecenas efficitur arcu ac scelerisque semper.</p>
                </modal-body>
            </modal-float>
        </full-wrapper>
    </center-wrapper>
</help-page>