<map-page id="map">
    <center-wrapper>
        <sidebar-wrapper>
            <modal-float>
                <div>R A D I O</div>
                <hr>
                <div><span>PLAY >|</span>...<span>NEXT >></span></div>
            </modal-float>
            <modal-float>
                <div>P O L I Z I A</div>
                <hr>
                <div><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span></div>
            </modal-float>
            <modal-float>
                <div>S T A T S</div>
                <hr>

            </modal-float>

        </sidebar-wrapper>
        <map-wrapper>
                <modal-float class="map-float">
                    <the-map>
                        include ../maps/island-map.pug
                    </the-map>
                </modal-float>
        </menu-wrapper>
    </center-wrapper>
</map-page>

