<map-page id="map">
    <center-wrapper>
        <sidebar-wrapper>
            <modal-float>
                <div>S I D E B A R</div>
            </modal-float>
            <modal-float>
                <p>some other stuff here</p>
                <hr>
                <p>add info</p>
                <p>add info</p>
                <p>add info</p>
            </modal-float>
            <modal-float>
                <div>S I D E B A R</div>
            </modal-float>

        </sidebar-wrapper>
        <map-wrapper>
                <modal-float class="map-float">
                    <the-map>
                        include ../maps/island-map.pug
                    </the-map>
                </modal-float>
        </menu-wrapper>
    </center-wrapper>
</map-page>

