<map-page id="map">
    <center-wrapper>
        <sidebar-wrapper>
            <modal-float class="junfo-polizia hidden">
                <modal-title>Polizia</modal-title>
                <modal-body>* * * * *</modal-body>
            </modal-float>
            <modal-float class="junfo-time">
                <modal-title>Date</modal-title>
                <modal-body>
                    <p>day<i class="day">#</i></p>
                    <p>,week<i class="week">#</i></p>
                </modal-body>
            </modal-float>
            <modal-float class="junfo-stats">
                <modal-title>Stats</modal-title>
                <modal-body class="vertical">
                    <p>Energy:<i class="energy">#</i></p>
                    <p>Health:<i class="health">#</i></p>
                </modal-body>
            </modal-float>
            <modal-float class="junfo-inventory">
                <modal-title>Inventory</modal-title>
                <modal-body class="vertical">
                    <p>Cash:<i class="cash">#</i></p>
                    <p>Guns:<i class="guns">#</i></p>
                    <p>Drugs:<i class="drugs">#</i></p>
                    <p>Space:<i class="space">#</i></p>
                    <p>Bitches:<i class="bitches">#</i></p>
                </modal-body>
            </modal-float>
            <modal-float class="junfo-radio hidden">
                <modal-title>Radio</modal-title>
                <modal-body>Pause > -- Next >></modal-body>
            </modal-float>
            <modal-float class="junfo-log">
                <modal-title>Log</modal-title>
                <modal-body class="vertical"></modal-body>
            </modal-float>
        </sidebar-wrapper>
        <main-wrapper>
            <modal-float class="map-float map">
                <the-map>
                    include ../maps/island-map.pug
                </the-map>
                <tab-overview>
                    <over-tab class="map"><span>Map</span></over-tab>
                    <over-tab class="overview">
                        <span>Overview</span>
                        <icons-tab>
                            <overview-icon data-overviewicon="city-overview" class="active">C</overview-icon>
                            <overview-icon data-overviewicon="road-overview">H</overview-icon>
                            <overview-icon data-overviewicon="character-overview">P</overview-icon>
                        </icons-tab>
                    </over-tab>
                </tab-overview>
            </modal-float>
        </main-wrapper>
    </center-wrapper>
</map-page>

