<map-page id="map">
    <center-wrapper>
        <sidebar-wrapper>
            <modal-float class="junfo-polizia hidden">
                <modal-title>Polizia</modal-title>
                <modal-body>* * * * *</modal-body>
            </modal-float>
            <modal-float class="junfo-time">
                <modal-title>Date</modal-title>
                <modal-body>
                    <p>day<i class="day">1</i></p>
                    <p>,week<i class="week">1</i></p>
                </modal-body>
            </modal-float>
            <modal-float class="junfo-stats">
                <modal-title>Stats</modal-title>
                <modal-body class="vertical">
                    <p>Energy:<i class="guns">3</i></p>
                    <p>Health:<i class="cash">100</i></p>
                </modal-body>
            </modal-float>
            <modal-float class="junfo-inventory">
                <modal-title>Inventory</modal-title>
                <modal-body class="vertical">
                    <p>Cash:<i class="cash">200$</i></p>
                    <p>Guns:<i class="guns">1</i></p>
                    <p>Drugs:<i class="cash">0</i></p>
                    <p>Space:<i class="cash">100</i></p>
                    <p>Bitches:<i class="bitches">0</i></p>
                </modal-body>
            </modal-float>
            <modal-float class="junfo-radio hidden">
                <modal-title>Radio</modal-title>
                <modal-body>Pause > -- Next >></modal-body>
            </modal-float>
            <modal-float class="junfo-log">
                <modal-title>Log</modal-title>
                <modal-body class="vertical">
                    <p>You visited bank in City6.</p>
                    <p>Boat was picked up by police.</p>
                    <p>You visited bank in City6.</p>
                    <p>Boat was picked up by police.</p>
                    <p>You visited bank in City6.</p>
                    <p>Boat was picked up by police.</p>
                    <p>You visited bank in City6.</p>
                    <p>Boat was picked up by police.</p>
                    <p>You visited bank in City6.</p>
                    <p>Boat was picked up by police.</p>
                    <p>You visited bank in City6.</p>
                    <p>Boat was picked up by police.</p>
                </modal-body>
            </modal-float>
        </sidebar-wrapper>
        <main-wrapper>
            <modal-float class="map-float">
                <the-map>
                    include ../maps/island-map.pug
                </the-map>
            </modal-float>
        </main-wrapper>
    </center-wrapper>
</map-page>

