<map-page id="map">
    <sidebar-wrapper>
        <div>S I D E B A R</div>
    </sidebar-wrapper>
    <map-wrapper>
        <div>M A P </div>
        <div>M A P </div>
        <div>M A P </div>
    </menu-wrapper>
</map-page>

