<menu-wrapper>
    <div id="menu">
        <a href="#game">Game</a> 
        <a href="#map">Map</a>
        <a href="#list">List</a>
        <a href="#errands">Errands</a>
        <a href="#help">Help</a>
    </div>
    <div class="next-day-button"><span>Next day</span></div>
</menu-wrapper>