<menu-wrapper>
    <div id="menu">
        <a href="#map">Map</a>
        <a href="#details">Details</a>
        <a href="#business">Business</a>
        <a href="#help">Help</a>
        <button class="next-day-button">Next day</button>
    </div>
    
</menu-wrapper>