<modal-float class="debug">
    <modal-title>### DEBUG ###</modal-title>
    <modal-body>
        <div style='display: flex; width: 100%; margin: 10px;'>
            <button class="global-p">Global +</button>
            <hr>
            <button class="global-o">Global 0</button>
            <hr>
            <button class="global-n">Global -</button>
        </div>
        <div style='display: flex; width: 100%; margin: 10px;'>
            <button class="flow-p">Flow +</button>
            <hr>
            <button class="flow-o">Flow 0</button>
            <hr>
            <button class="flow-n">Flow -</button>
        </div>
    </modal-body>
    <modal-body>
        <div style='display: flex; flex-direction: column; width: 100%; margin: 10px;'>
            <p  class="flag-bull">Bull period <i>0</i></p>
            <p class="flag-bear">Bear period <i>0</i></p>
            <p class="flag-cooldown">Cooldown  <i>0</i></p>
        </div>
    </modal-body>
</modal-float>