modal-float {
	&.map-help {
		&:before {
			background-color: $red;
		}
		modal-title {
			background-color: $white;
		}
		modal-body {
			border-color: $white;
			p {
				color: $white;
			}
		}
	}

	&.details-help {
		&:before {
			background-color: $blue;
		}
		modal-title {
			background-color: $white;
		}
		modal-body {
			border-color: $white;
			p {
				color: $white;
			}
		}
	}

	&.business-help {
		&:before {
			background-color: $green;
		}
		modal-title {
			background-color: $white;
		}
		modal-body {
			border-color: $white;
			p {
				color: $white;
			}
		}
	}
}

.save-files {
	modal-body {
		button {
			position: relative;
			outline: none;
			color: var(--black);
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 24px;
			font-weight: bold;
			font-family: monospace;
			background: #a8a8a8;
			padding: 20px 10px;
			margin-bottom: 10px;
			border: none;

			&:before,
			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 5px;
				display: block;
				height: calc(100% - 10px);
				width: 25%;
				border: 3px solid var(--black);
				transition: width 0.25s;
			}
			&:before {
				left: 10px;
				border-right: none;
			}
			&:after {
				right: 10px;
				border-left: none;
			}
			&:hover {
				&:before,
				&:after {
					width: 50%;

				}
			}
		}

		hr {
			height: 3px;
			border: 1px solid;
			display: block;
			width: calc(100% - 20px);
			margin-bottom: 10px;
		}

		savefile-list {
			display: flex;
			flex-direction: column;
			padding: 10px 0;

			savefile-item {
				position: relative;
				margin: 0 10px 10px;

				&:last-child {
					margin-bottom: 0;
				}

				.load-file,
				.click-load {
					display: block;
					padding: 10px 20px;
					background-color: $darkgray;
					color: $white;
					letter-spacing: 2px;
					font-style: italic;

					&:hover {
						cursor: pointer;
						background-color: $black;
					}
				}

				.click-load {
					&.disable {
						opacity: 0.5;
						pointer-events: none;
					}
				}

				.load-file {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;

					&.hidden {
						display: none;
					}
				}
			}
		}
	}
}