modal-float {
	display: flex;
	flex-direction: column;
	position: relative;
	display: block;
	margin: 20px 10px 30px;
	padding: 5px;

	& > * {
		position: relative;
		z-index: 3;
	}

	&.hidden {
		display: none;
	}

	modal-title {
		color: var(--black);
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 28px;
		font-weight: bold;
		font-family: monospace;
		display: inline-block;
		background: #a8a8a8;
		z-index: 4;
		margin-left: 7px;
		padding: 0 5px;
	}

	modal-body {
		display: flex;
		flex-wrap: wrap;
		font-family: monospace;
		font-size: 16px;
		position: relative;
		margin-top: -15px;
		border: 3px double $black;
		padding: 20px 10px 10px;

		&.vertical {
			flex-direction: column;
		}

		i {
			display: inline-block;
			padding: 0 3px;
			margin-left: 3px;
			font-weight: bold;
			background-color: $black;
			color: $white;
		}

		p {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	hr {
		border: 1px solid $black;
	}

	button {
		background-color: transparent;
		border: 3px dashed $black;
		font-size: 14px;
		text-transform: uppercase;
		padding: 10px;
		font-weight: bold;
	}

	&.junfo-log {
		modal-body {
			max-height: 250px;
			overflow: auto;
			display: block;
			@include hide-scrollbars;

			p {
				font-style: italic;
				font-size: 14px;
				line-height: 1.25;
				border-bottom: 3px;
				border-style: double;
				margin-bottom: 10px;
				padding-bottom: 10px;
				font-family: monospace;

				&.important {
					font-size: 12px;
					background-color: var(--red);
					color: $white;
					border: none;
					padding: 5px;
					font-size: 12px;
				}

				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $gray;
		z-index: 2;
	}

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 15px;
		left: 10px;
		background-color: $black;
		opacity: 0.5;
		transition: opacity 0.2s;
		z-index: 1;
	}

	&:hover,
	&:focus {
		&:after {
			opacity: 0.75;
		}
	}

	&.drug {
		drug-stat {
			display: block;
			width: 100%;
			font-size: 20px;
			line-height: 1.5;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px dashed black;

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}

			d-label {
				display: inline-block;
				min-width: 100px;
			}

			d-price {
				display: inline-block;

				i {
					background-color: transparent;
					color: $black;
					padding: 0;
					margin: 0;
					font-weight: initial;
				}
			}

			d-graph {
				display: flex;
				flex-direction: row;
				width: 100%;
				background: var(--darkgray);
				height: 50px;
				overflow: hidden;

				dg-point {
					display: flex;
					align-items: flex-end;
					width: 5%;
					padding: 0 2px;

					i {
						display: block;
						padding: 0;
						margin: 0;
						width: 100%;
						border: 1px dashed $white;
						background-color: var(--lightgray);
					}
				}
			}
		}
	}
}

#details {
	.map-details {
		modal-body {
			justify-content: center;

			.sprite {
				height: 100px;
			}
		}
	}
}