#body {
	display: flex;
	flex-direction: column;
}

menu-wrapper {
	overflow: hidden;


	a {
		&.active-tab {
			pointer-events: none;
		}
	}
	
}

pages-wrapper {
	flex-grow: 9;
}

map-page {
	display: flex;
	
	sidebar-wrapper {
		flex-basis: 25%;
	}

	map-wrapper {
		flex-basis: 75%;
	}
}

map-page,
game-page,
list-page,
errands-page,
help-page {
	position: absolute;
	z-index: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	height: 0;
	overflow: hidden;

	&.active-page {
		position: relative;
		z-index: 1;
		visibility: visible;
		opacity: 1;
		pointer-events: initial;
		height: 100%;
	}
}