#body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

menu-wrapper {
	height: 40px;
	min-height: 40px;
}

pages-wrapper {
	height: calc(100% - 40px);
}

center-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
	max-height: 100vh;
}

sidebar-wrapper {
	flex-basis: 25%;
	overflow-y: auto;
	height: 100%;
	@include hide-scrollbars;
}

main-wrapper {
	flex-basis: 75%;
	max-height: 100%;
}

half-wrapper {
	flex-basis: 50%;
	overflow-y: auto;
	height: 100%;
	@include hide-scrollbars;
}

map-page,
details-page,
business-page,
help-page {
	display: block;
	position: absolute;
	z-index: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	height: 0;
	overflow: hidden;

	&.active-page {
		position: relative;
		z-index: 1;
		visibility: visible;
		opacity: 1;
		pointer-events: initial;
		height: 100%;
	}
}