.map-float {
	max-width: calc(100% - 30px);
	height: calc(100% - 50px);
}

the-map {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background-color: $black;
}

the-map,
#details {
	.field {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-basis: 6.25%;
		outline:1px dotted rgba(black,0.05);

		.sprite {
			position: absolute;
			max-width: 100%;
			pointer-events: none;
		}

		city-name {
			position: absolute;
			top: calc(100% + 5px);
			pointer-events: none;
			font-style: normal;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 12px;
			text-align: center;
			color: $white;

			&.up {
				top: -5px;
				transform: translateY(-100%);
			}
		}

		&.can-have-player {
			opacity: 0.75;
		}

		&.action,
		&.city {
			z-index: 1;
			&:hover {
				cursor: pointer;
				filter: drop-shadow(2px 4px 6px black) brightness(1.25);
				outline: 2px dashed rgba(white,1);
				z-index: 5;
				scale: 1.25;
				border-radius: 20%;
			}
		}

		&.sea {
			background-color: $sea;

			.sprite {
				opacity: 0.25;
			}
		}

		&.coast {
			background-color: $coast;

			.sprite {
				opacity: 0.25;
			}

			player-character {
				.default,
				.car {
					display: none;
				}
				.boat {
					display: block;
				}
			}
		}

		&.land {
			background-color: $grass;
		}

		&.sand {
			background-color: $sand;
		}

		&.highway {
			background-color: $highway;

			&:after {
				content: "-";
				font-weight: bold;
				font-size: 10px;
				position: absolute;
				color: $black;
				opacity: 0.5;
				pointer-events: none;
			}

			player-character {
				.default {
					display: none;
				}
				.car {
					display: block;
				}
			}
		}

		&.bridge {
			background-color: $bridge;

			.sprite {
				scale: 1.15;
				filter: brightness(1.15);
			}

			&.horizontal {
				.sprite {
					transform: rotate(90deg);
				}
			}

			player-character {
				.default {
					display: none;
				}
				.car {
					display: block;
				}
			}
		}

		&.city {
			&.coastal {
				background-color: $coastal;
			}

			&.desert {
				background-color: $desert;
			}

			&.alpine {
				background-color: $alpine;
			}

			&.grass {
				background-color: $grasland;
			}
		}

		&.forest {
			background-color: $forest;
		}

		&.mountain {
			background-color: $mountain;

			&.sand {
				background-color: $sand;
			}
		}

		&.dirtroad {
			background-color: $dirtroad;

			&.horizontal {
				.sprite {
					transform: rotate(90deg);
				}
			}

			&.has-car {
				player-character {
					.default {
						display: none;
					}
					.car {
						display: block;
					}
				}
			}
		}

		&.has-character {
			.sprite {
				opacity: 0.25;
			}
		}
	}
}