menu-wrapper {
	display: flex;
	overflow: hidden;
	
	a {
		&.active-tab {
			pointer-events: none;
		}
	}

	#menu {
		display: flex;
		justify-content: space-around;
		background-color: $black;
		flex-grow: 9;

		a,
		span {
			display: block;
			font-size: 40px;
			line-height: 1;
			font-weight: bold;
			text-transform: uppercase;
			outline: none;
			padding: 0 10px;
			color: $gray;

			&:first-letter {
				color: $white;
			}
		}
	}

	.next-day-button {
		border: none;
		color: $gray;
		display: block;
		padding: 0 10px;
		font-size: 40px;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		outline: none;
		padding: 0 10px;
		color: $gray;
		text-align: center;
		font-family: Open Sans, sans-serif;
		background-color: transparent;

		&:disabled {
			pointer-events: none;
		}

		&:first-letter {
			color: $yellow;
		}

		&:hover {
			background-color: $yellow;
			color: $red;

			&:first-letter {
				background-color: $red;
			}
		}
	}

}