menu-wrapper {
	display: flex;
	overflow: hidden;
	
	a {
		&.active-tab {
			pointer-events: none;
		}
	}

	#menu {
		display: flex;
		justify-content: space-around;
		background-color: $black;
		flex-grow: 9;

		a[href="#map"] {
			&:first-letter {
				color: $red;
			}
			&.active-tab {
				background-color: $red;
				color: $white;
				&:first-letter {
					background-color: $white;
				}
			}
		}

		a[href="#details"] {
			&:first-letter {
				color: $blue;
			}
			&.active-tab {
				background-color: $blue;
				color: $white;
				&:first-letter {
					background-color: $white;
				}
			}
		}

		a[href="#business"] {
			&:first-letter {
				color: $green;
			}
			&.active-tab {
				background-color: $green;
				color: $white;
				&:first-letter {
					background-color: $white;
				}
			}
		}
		
		a[href="#help"] {
			&:first-letter {
				color: $darkgray;
			}
			&.active-tab {
				background-color: $darkgray;
				color: $white;
				&:first-letter {
					background-color: $white;
				}
			}
		}

		a,
		span {
			display: block;
			font-size: 40px;
			line-height: 1;
			font-weight: bold;
			text-transform: uppercase;
			outline: none;
			padding: 0 10px;
			color: $gray;

			&:first-letter {
				color: $white;
			}
		}
	}

	.next-day-button {
		border: none;
		color: $gray;
		display: block;
		padding: 0 10px;
		font-size: 40px;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		outline: none;
		padding: 0 10px;
		color: $gray;
		text-align: center;
		font-family: Open Sans, sans-serif;
		background-color: transparent;
		pointer-events: none;

		&:first-letter {
			color: $yellow;
		}

		&.next {
			pointer-events: initial;
			background-color: $yellow;
			color: $red;

			&:first-letter {
				background-color: $red;
			}
		}
	}
}